thisfish.log
django-shapeload
~*
logs
._*
build
pip-log.txt
static
ENV
env
*.pyc
media/cache
media/CACHE
*.swp
settings_local.py
templates/temptest.html
*~
.idea
*.mo
Thumbs.db
ENV/
thisfish-fcgi.bash
*.bak
*.orig
*.xlsx
*.xls
