*.log
*.pot
django-shapeload
~*
logs
._*
build
pip-log.txt
ENV
env
*.pyc
media/cache
media/CACHE
*.swp
settings_local.py
local_settings.py
templates/temptest.html
*~
.idea
*.mo
Thumbs.db
ENV/
thisfish-fcgi.bash
*.bak
*.orig
*.xlsx
*.xls
#*.sqlite3
*.egg
.ipynb_checkpoints
MANIFEST
*.egg-info
